@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-content {
  border-radius: 5px;
  padding: 0.5rem;
  max-width: 600px;
  width: 100%;

  border: none;
  margin-top: 130px !important;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --toastify-color-info: #4ac799;
  --toastify-color-warning: #fbd332;
  --toastify-color-error: #ce4333;
  --toastify-color-success: #06a914;
}
