@tailwind base;
@tailwind components;
@tailwind utilities;

.log_out {
  @apply bg-teal-950  px-6 p-1 text-white rounded;
}

.nav_bar {
  @apply bg-[#a1a7a5] p-2 px-10 flex justify-between /*m-1.5 mt-2 rounded-md*/  sticky top-0;
}

.popup-content {
  border-radius: 5px;
  padding: 0.5rem;
  max-width: 600px;
  width: 100%;

  border: none;
  margin-top: 130px !important;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --toastify-color-info: #4ac799;
  --toastify-color-warning: #fbd332;
  --toastify-color-error: #ce4333;
  --toastify-color-success: #06a914;
}
